.accessory-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accessory-card__content {
    max-width: 20rem;
    text-align: center;
}

.accessory-card__content p {
    margin-top: 1.5rem;
    color: var(--gray);
    font-weight: 500;
    line-height: 2.4rem;
}